
.main{
    font-family: 'Itim', cursive;
    margin: 25 auto;
    text-align: center;
    padding: 100px;
    font-size: 35px;
    font-weight: bold;
}
.about h1{
  font-weight: bolder;
  font-size: 70px;
}
.about h2{
  font-weight: bolder;
  font-size: 20px;
}

#user{
    font-family: 'Merriweather', serif;
    font-weight: bold;
    font-size: 90px;
}
.content{
    font-family: 'Itim', cursive;
    font-weight: lighter;
    font-size: 23px;
    margin-right: 40px;

}
.container{
  padding: 20px;
  font-family: "Playfair Display", serif;
  font-size: 20px;
}
.about{
    padding: 40px !important;
    font-family: "Playfair Display", serif;
    font-weight: bolder;
    font-size: 20px;
    
}


#contact{
    font-family: 'Merriweather', serif;
    font-size: 18px;
    line-height: 27px;
    padding: 15px 30px;
}
#contact:hover{
    color: black;
}


.part2{
    font-family: 'Itim', cursive;
}

.logo {
  max-height: 48px;
  border-radius: 8px;
}

nav {
  padding: 20px 0;
  font-size: 20px;
  font-weight: bold;
}

nav ul {
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
  list-style: none;
  line-height: 42px;
  margin-left: 15px;
}

nav a {
  text-decoration: none;
  color: #272142;
  transition: all 100ms ease-in-out;
}

nav a:hover,
nav li.active a {
  color: #120b93;
}

footer {
  margin: 60px 0;
  padding: 60px;
  font-family: "Playfair Display", serif;
  /* font-family: 'Itim', cursive; */
  
}

footer .contact-box {
  background:rgba(213, 213, 225, 0.341);
  padding: 30px 120px;
  border-radius: 10px;
  font-size: 24px;
}

footer .contact-box p {
  margin: 0;
}
footer h4{
  font-size: 48px;
}

footer .btn{
  font-size: 20px !important;
  padding: 20px 40px !important;
}

footer .email-link {
  text-decoration: none;
  color: black;
  font-size: 24px;
}

footer .email-link:hover {
  color: rgba(0, 0, 255, 0.62);
}

footer .social-links a {
  margin: 0 20px;
  color: rgba(0, 0, 255, 0.62);
  background: white;
  padding: 10px 14px;
  border-radius: 50%;
  font-size: 18px;
  transition: all 100ms ease-in-out;
}

footer .social-links a:hover {
  color: white;
  background: rgba(0, 0, 255, 0.62);
}

.inputcontact{
  border: 1px solid rgb(207, 202, 202);
  padding: 10px;
  
}

@media (max-width: 900px) {


    h1 {
      font-size: 44px;
      line-height: 2;
    }
  
    h2 {
      font-size: 44px;
    }
  
    .hero {
      padding: 80px 20px;
    }
  
    .project-desciption {
      padding: 0;
      text-align: center;
    }
    .about-section {
      text-align: center;
      padding: 0;
    }
    }

    .btn{
      background-color: rgb(42, 42, 132) !important;
      color: aliceblue !important;
      border-radius: 4px !important;
      font-size: 18px !important;
      line-height: 27px !important;
      padding: 15px 30px !important;
    }

    .btn:hover{
      color: rgb(5, 5, 60) !important;
    }

  .btn-outline-primary {
    
    border-radius: 4px !important;
    font-size: 18px !important;
    line-height: 27px !important;
    padding: 15px 30px !important;
  }

  .btn-outline-primary:hover{
    background-color: white !important;
    color: rgb(6, 6, 39) !important;
  }


  .content-container {
    padding: 160px 20px;

  }

  .row p{
    font-size: 18px;
  }
